#moviesContainer{
    width: 90%;
    margin: 1em auto;
    background-color: rgb(3, 3, 42);
}

#moviesContainerGrid{
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
}